extends ../templates/base
block title
    title= 'Меры поддержки'
    meta(name="description" content="Описание главной страницы")
block content
    .pages-wrap
        .pages-content.js--page-content
            include ../includes/redesign-site/header
            +header(0)
            include ../includes/blocks/redesign-main-page/sidebar
            main
                .white-substrate
                    .container-pages
                        .block-container.block-container-crumbs
                            .breadcrumbs-new.program-directory__breadcrumbs-desctop
                                a.breadcrumbs-new__link(href='#')
                                    span.breadcrumbs-new__link-text Сервисы
                                span.breadcrumbs-new__link.breadcrumbs-new__link_current
                                    span.breadcrumbs-new__link-text Калькуляторы
                            a(href="#").breadcrumbs-new__mob Назад

                        .block-container.calc-tax-deduc-new__container
                            .calc-tax-deduc-new__wr-title
                                .h1_title Единый калькулятор <span class="highlighting">налоговых вычетов</span>
                                .h1_title__des.
                                    Рассчитайте ипотеку онлайн с помощью ипотечного калькулятора. Сервис поможет узнать
                                    размер ежемесячных платежей, сумму переплаты по банковским процентам и оценить
                                    размер экономии за счет досрочного погашения

                            //тултипы предусмотрены для всех без исключения заголовков.
                            //если их нет то просто не указывать их в админке, возможные тултипы, если вдруг появятся:
                            //tooltip-data-required-income,tooltip-data-interest-rate
                            //tooltip-data-tax-deduction='{"size":"big","show":"mouseoverEl","info":"данные, налоговый вычет"}'
                            //tooltip-data-debt-interest='{"size":"big","show":"clickEl","info":"данные, налоговый вычет"}'

                            .calc-tax-deduc-new__wr-block
                                #v-family-mortgage-calculator(v-cloak)
                                    family-mortgage-calculator(
                                        initial-payment="20",
                                        max-tax-deduction="260000"
                                        max-tax-deduction-interest="390000"
                                        answers
                                        tooltip-cost-property='{"size":"small","info":"Стоимость недвижимости может превышать сумму льготного кредита. Семейную ипотеку до 6% можно взять на сумму  – 12 млн рублей для Москвы, Санкт-Петербурга, Московской и Ленинградской области, 6 млн рублей для остальных регионов. Лимиты по программе можно расширить до 30 и 15 млн рублей соответственно."}'
                                        tooltip-initial-payment='{"size":"small","info":"Первоначальный взнос составляет не менее 20% суммы кредита. Его размер рассчитывается  автоматически. Вы также можете ввести его значение самостоятельно. Если размер взноса не будет соответствовать условиям ипотеки, его рассчитает система. В качестве первоначального взноса можно использовать материнский капитал и иные выплаты."}'
                                        tooltip-interest-rate='{"size":"small","info":"Семейной ипотекой предусмотрена ставка до 6% (установлена по умолчанию). Иное значение ставки можно ввести самостоятельно."}'
                                        tooltip-credit-time='{"size":"small","info":"Введите количество месяцев, на которое выдан кредит"}'
                                        tooltip-data-loan-amount='{"size":"small","info":"Сумма, оставшаяся после внесения первоначального взноса"}'
                                        tooltip-data-monthly-payment='{"size":"small","info":"Ежемесячный платеж по ипотеке (в рублях)"}'
                                        tooltip-data-tax-deduction='{"size":"small","info":"Сумма, которую вы можете вернуть в качестве налогового вычета после покупки жилья в ипотеку. Сумма налогового вычета складывается из: 13% от стоимости недвижимости и 13% от суммы уплаченных процентов."}'
                                        calculatorId="777777"
                                        answer-can-share="1"
                                        answers-link='{"link":"","vk":"vKon.ru", "tg":"", "wp":""}'
                                        answers-id
                                    )
                            .calc-tax-deduc-new__information
                                .block-grid-area-big-small
                                    .block-grid-area__col
                                        .advanced-editor
                                            h2 Заголовок в отдельном advanced-editor

                                        .advanced-editor
                                            .common-content
                                                p.
                                                    Можно воспользоваться <a href="#">услугами риэлтора</a> Можно воспользоваться услугами риэлтора
                                                    Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    <span class="content-note js--content-note">?
                                                        <span class="content-note__text">
                                                            Какое-то описание Какое-то описание Какое-то описание Какое-то описание
                                                            Какое-то описание Какое-то описание Какое-то описание Какое-то описание
                                                        </span>
                                                    </span>

                                        .advanced-editor
                                            h2 Заголовок в отдельном advanced-editor

                                        .advanced-editor
                                            h2 Заголовок перед common-content
                                            .common-content
                                                p.
                                                    Можно воспользоваться <a href="#">услугами риэлтора</a> Можно воспользоваться услугами риэлтора
                                                    Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    <span class="content-note js--content-note">?
                                                        <span class="content-note__text">
                                                            Какое-то описание Какое-то описание Какое-то описание Какое-то описание
                                                            Какое-то описание Какое-то описание Какое-то описание Какое-то описание
                                                        </span>
                                                    </span>
                                        .advanced-editor
                                            h3 Нумерованный список
                                            .advanced-editor__numbered-list.common-content
                                                ol
                                                    li Можно воспользоваться <a href="#">услугами риэлтора</a> Можно воспользоваться услугами риэлтора
                                                        ol
                                                            li Какой-то пункт
                                                            li Какой-то пункт
                                                                ol
                                                                    li Какой-то пункт
                                                                    li Какой-т опункт
                                                                        ol
                                                                            li Какой-то пункт
                                                                            li Какой-то пункт

                                                            li Какой-то пункт
                                                    li Можно воспользоваться Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    li Можно воспользоваться Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора
                                                    li Можно воспользоваться Можно воспользоваться услугами риэлтора Можно воспользоваться услугами риэлтора

                                                ul
                                                    li Пункт 1
                                                    li Пункт 2
                                                    li Пункт 3
                                                    li Пункт 4
                                                ol
                                                    li Пункт 1
                                                    li Пункт 2
                                                    li Пункт 3
                                                    li Пункт 4

                                    .block-grid-area__col.display-flex
                                        .form-rating
                                            p.form-rating__title Была ли полезна страница?
                                            .form-rating__wr-form.js--form-rating#js--form-rating0(v-cloak)
                                                form(method="" action="")
                                                    .form-rating__wr-grade(ref="formRating")
                                                        .form-rating__grade-item(v-for="(item,index) in array_star" :class="!form_show?'unactive':''")
                                                            input.js--grade-item(type="radio" :for-raiting="array_star.length-index" :id="item" @click="changeGrade($event,index)" :disabled="!form_show")
                                                            label(:for="item")
                                                                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.1416 2.27888C10.8196 0.573703 13.1803 0.573711 13.8583 2.27888L15.8871 7.38124C15.8912 7.39141 15.8957 7.39712 15.8984 7.39991L21.1563 7.84083C22.9969 7.99518 23.591 10.2867 22.3142 11.4307L18.3021 15.0258C18.299 15.0285 18.2921 15.0363 18.2873 15.0518C18.2825 15.0673 18.2816 15.085 18.2855 15.1023L19.5113 20.4776C19.889 22.1339 18.1199 23.7235 16.4946 22.6851L12 19.8135L7.50536 22.6851C5.88008 23.7235 4.11093 22.1339 4.48864 20.4776L5.71443 15.1023C5.71837 15.085 5.71744 15.0673 5.71262 15.0518C5.70782 15.0363 5.701 15.0285 5.6979 15.0258L1.68571 11.4307C0.408924 10.2867 1.00304 7.99518 2.8437 7.84083L8.10151 7.39991C8.10424 7.39712 8.10876 7.39141 8.1128 7.38124L10.1416 2.27888ZM12 3.01814L9.97127 8.12021C9.69314 8.81969 9.04938 9.32744 8.2769 9.39222L3.01667 9.83334C3.01349 9.83829 3.00925 9.84629 3.00564 9.85793C2.99838 9.88129 2.99917 9.90197 3.00211 9.91405C3.00338 9.91926 3.00497 9.92276 3.00658 9.92548C3.00799 9.92787 3.01151 9.93325 3.02037 9.94119L7.03255 13.5362C7.59759 14.0425 7.83037 14.819 7.66437 15.547L6.43858 20.9222C6.43428 20.9411 6.43428 20.9532 6.43474 20.9597C6.43522 20.9665 6.43652 20.9715 6.43807 20.9756C6.43983 20.9802 6.44241 20.9848 6.44553 20.9889L10.937 18.1192C11.5874 17.7037 12.4126 17.7037 13.0629 18.1192L17.5544 20.9889C17.5575 20.9848 17.5601 20.9802 17.5619 20.9756C17.5634 20.9715 17.5647 20.9665 17.5652 20.9597C17.5657 20.9532 17.5657 20.9411 17.5614 20.9222L16.3356 15.547C16.1696 14.819 16.4024 14.0425 16.9674 13.5362L20.9796 9.94119C20.9884 9.93325 20.992 9.92787 20.9934 9.92548C20.995 9.92276 20.9966 9.91926 20.9978 9.91405C21.0008 9.90197 21.0016 9.88129 20.9943 9.85793C20.9907 9.84629 20.9865 9.8383 20.9833 9.83334L15.7231 9.39222C14.9506 9.32744 14.3068 8.81969 14.0287 8.12021L12 3.01814Z', fill='#6D6D6D')
                                                                svg(width='24', height='24', viewbox='0 0 24 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                                    path(fill-rule='evenodd', clip-rule='evenodd', d='M10.1416 2.27888C10.8196 0.573703 13.1803 0.573711 13.8583 2.27888L15.8871 7.38124C15.8912 7.39141 15.8957 7.39712 15.8984 7.39991L21.1563 7.84083C22.9969 7.99518 23.591 10.2867 22.3142 11.4307L18.3021 15.0258C18.299 15.0285 18.2921 15.0363 18.2873 15.0518C18.2825 15.0673 18.2816 15.085 18.2855 15.1023L19.5113 20.4776C19.889 22.1339 18.1199 23.7235 16.4946 22.6851L12 19.8135L7.50536 22.6851C5.88008 23.7235 4.11093 22.1339 4.48864 20.4776L5.71443 15.1023C5.71837 15.085 5.71744 15.0673 5.71262 15.0518C5.70782 15.0363 5.701 15.0285 5.6979 15.0258L1.68571 11.4307C0.408924 10.2867 1.00304 7.99518 2.8437 7.84083L8.10151 7.39991C8.10424 7.39712 8.10876 7.39141 8.1128 7.38124L10.1416 2.27888Z', fill='#F8C000')
                                                    .form-rating__wr-textarea(v-show="rate!==0&&form_show")
                                                        .form-rating__textarea(:class="(show_error)||length_error?'error':''")
                                                            textarea(:placeholder="place_holder" v-model="textValue" @blur="endFocus" @input="textInput" @keydown="textKeyDown" @focus="beginFocus" ref="textArea")
                                                            p.form-rating__textarea-error(v-if="show_error") Введите комментарий
                                                            p.form-rating__textarea-error(v-if="length_error") Максимальное количество символов - {{max_length}}
                                                        input(hidden type="text" ref="hiddenInput")
                                                        button(type="button" v-if="!btn_active" @click="showError").form-rating__button Отправить
                                                        button(type="submit" v-if="btn_active" @click="localStorageClick").form-rating__button.active Отправить
                include ../includes/new-page-form


            include ../includes/cookies
            include ../includes/redesign-site/footer

